<!DOCTYPE html>
<html lang="en">

<head>
    <title>Emotion Detection</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="static/mywebscript.js"></script>
</head>

<body>
    <h1 style="color:#ff0000;text-align:center;">Emotion Detection</h1>
    <br><br>
    <div style="text-align:center;">
        <textarea id="textToAnalyze" rows="4" cols="50"></textarea>
        <br><br>
        <button class="btn btn-primary" onclick="RunSentimentAnalysis()">Run Sentiment Analysis</button>
        <br><br>
        <p id="system_response"></p>
    </div>
</body>

</html>
